<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title> Creiamo Una Storia Originale</title>
</head>

<body>
	<h1>Creiamo Una Storia Originale</h1>
	<h4>オリジナルの童話を作ろう</h4>


	<h3 th:text="${pre_title}"></h3>
<!--	<h3>さあ、あなたの冒険が始まるよ！</h3>-->
	<h3 th:text = "'さあ、' + ${name} + '！　キミの冒険が始まるよ！'"></h3>
	
	<form action="/story" method="get">
	    <input type="hidden" name="city" th:value="${formValidation.favCity}" />
	    <button type="submit">進む</button>
	</form>


</body>

</html>