<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title> Creiamo Una Storia Originale</title>
</head>

<body>
	
	<h1>Creiamo Una Storia Originale</h1>
		<h4>オリジナルの童話を作ろう</h4>
<!--		<p>このサイトは、あなたの入力した情報と、あなたの選んだ道から、自分だけの童話を作れます。-->
<!--			<br>素敵な物語を作りましょう！-->
<!--		</p>-->
	<h1 th:text="'今日の'+${name}+'の物語'"></h1>
	    <h4 th:text="'今日の'+${favCity}+'の天気は' + ${weatherDescription} + 'です。'"></h4>
		<p>本当はここか、のちのちの場面で、天気によって物語展開が分岐していくようにしたかったです。でも今回は時間の都合上、技術面に力を入れました。
			<br>都市名とお天気をね…日本語にしたいですね。コントローラに書くと長くなるんで、そういう言語管理クラスみたいなものも作れたら良かったです。
		</p>
		<h4 th:text="'今日の気温は' + ${temperature} + 'です。'"></h4>
		<p>気温や湿度、日付をもとに季節設定がかわるのもいいなあと思います。
			<br>好きな食べ物や趣味に関しては一定のワードに反応するぐらいしかできなさそう。（アンテのメタトンEX戦みたいな？）
		</p>

</body>

</html>